body {
    overflow: hidden;
}

#board {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    margin: 50px auto;
    background: url(./static/img/bg.jpg);
    background-size: cover;

    .tile-row {
        display: flex;
    }

    .tile {
        position: relative;
        width: 20px;
        height: 20px;

        &.wall {
            // background-color: black;
        }

        &.path {
            // background-color: #e0bfbf;
        }

        &.gate {
            // background-color: cyan;
        }

        &.home {
            // background-color: red;
        }

        &.point {
            background: url(./static/img/coin.png);
            background-position: center;
            background-size: 100%;
            // &::after {
            //     content: '';
            //     height: 5px;
            //     width: 5px;
            //     position: absolute;
            //     top: 50%;
            //     left: 50%;
            //     transform: translate(-50%, -50%);
            //     background-color: yellow;
            //     border-radius: 5px;

            // }
        }
    }

    #pacman {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: none;


        &.left {
            transform: scale(-1, 1);
        }

        .head {
            position: absolute;
            top: -14px;
            z-index: 1;
            left: -6px;
        }

        .body {
            position: absolute;
            left: -6px;
        }
    }
}